extends layout

block content
  h1= title
  .inner
    h2 Active Rolls
    each roll in activeRolls
      div
        h3= `${roll.filmBrand} ${roll.filmName}`
        p= `ISO: ${roll.iso} - Started on ${moment(roll.date).format("MMM Do YY")}`
        p= `${roll.description || 'no description' }`
  